USE master
GO
DROP DATABASE [SessaoMobile]
GO
CREATE DATABASE [SessaoMobile]
GO
USE [SessaoMobile]
GO
/****** Object:  Table [dbo].[Funcao]    Script Date: 07/08/2020 16:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcao](
	[id] [int] NOT NULL IDENTITY,
	[funcao] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Funcao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Relatos]    Script Date: 07/08/2020 16:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relatos](
	[id] [int] NOT NULL IDENTITY,
	[relato] [nvarchar](255) NOT NULL,
	[imagem] [nvarchar](255) NOT NULL,
	[latitude] [decimal](18, 8) NOT NULL,
	[longitude] [decimal](18, 8) NOT NULL,
	[usuarioid] [int] NULL,
 CONSTRAINT [PK_Relatos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 07/08/2020 16:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] NOT NULL IDENTITY,
	[nome] [nvarchar](50) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[senha] [nvarchar](50) NOT NULL,
	[telefone] [nvarchar](13) NOT NULL,
	[funcaoid] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Relatos]  WITH CHECK ADD  CONSTRAINT [FK_Relatos_Usuario] FOREIGN KEY([usuarioid])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Relatos] CHECK CONSTRAINT [FK_Relatos_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Funcao] FOREIGN KEY([funcaoid])
REFERENCES [dbo].[Funcao] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Funcao]
GO


INSERT INTO [dbo].[Funcao] (  [funcao]) VALUES ('Administrador')
INSERT INTO [dbo].[Funcao] (  [funcao]) VALUES ('Usuario')
GO

INSERT [dbo].[Usuario] ( [nome], [email], [senha], [telefone], [funcaoid]) VALUES (N'Maicon', N'maiconsantana@gmail.com', N'maicon55', N'985431546', 1)
GO
INSERT [dbo].[Usuario] (  [nome], [email], [senha], [telefone], [funcaoid]) VALUES (N'Tatiana', N'tati@katana.com.br', N'12345', N'955828564',1)
GO
INSERT [dbo].[Usuario] (  [nome], [email], [senha], [telefone], [funcaoid]) VALUES (N'Kailanne', N'kakau@master.com.br', N'1405', N'985431546', 2)
GO


INSERT [dbo].[Relatos] ([relato], [imagem], [latitude], [longitude], [usuarioid]) VALUES ('Incêndio no lado leste na floresta Amazônica, está destruindo boa parte da vegetação. E obrigando os animais a fugir.', '070820201643.jgp', -4.782636, -68.939604, null)
GO
INSERT [dbo].[Relatos] ([relato], [imagem], [latitude], [longitude], [usuarioid]) VALUES ('Lixo espalhado na rua obstruindo a passagem dos carros', '080820201055.jgp', -4.782636, -68.939604, 7)
GO
INSERT [dbo].[Relatos] ([relato], [imagem], [latitude], [longitude], [usuarioid]) VALUES ('Após o carnval as ruas estão podres e a prefeitura ainda não fez nada a respeito! Absurdo', '220220200932.jgp', -24.840988, -51.295736, 3)
GO



